@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<h1> University of central Missouri</h1>
<span>
    UCM Home » About UCM Printer friendly version Email this page
    About UCM

    University Identity
    Strategic Governance for Student Success
    Fast Facts
    President Charles M. Ambrose
    UCM Board of Governors
    Missouri Innovation Campus
    Warrensburg, MO
    Campus Map & Tour

    Campus Map
    Take a look at UCM's beautiful campus and facilities with our campus map & tour.

    About UCM

    About the University of Central Missouri
    The University of Central Missouri experience transforms students into lifelong learners,
    dedicated to service, with the knowledge, skills and confidence to succeed and lead in the region, state, nation and world.
</span>
