@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    P.O. Box 800
    Ward Edwards 1400
    Warrensburg, MO 64093
    phone: 1-877-729-8266
    660-543-4111
    email: admit@ucmo.edu (Undergraduate)
    gradinfo@ucmo.edu (Graduate)
    admit_intl@ucmo.edu (International)
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>